body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.ct {
    height: 100%;
    width: 100%;
    display: table;
}

.contact-section {
    display: table-cell;
    vertical-align: middle;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}

.glyphicon-film:before {
    content: "\e009";
}
